<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>Smartendance - トップページ</title>
<link href="./css/mypage.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1><img id="logo" src="img/logo.png"></h1>
        <p class="button"><button type="submit" name="student_login" onclick="location.href='student_select.html'"><img src="./img/student.png"><br>生徒用ログイン</button></p>
        <p class="button"><button type="submit" name="teacher_login" onclick="location.href='teacher_select.html'"><img src="./img/teacher.png"><br>教官用ログイン</button></p>
</body>
</html>